services:
  web:
    build: ./web
    command: flask --app project run --host=0.0.0.0 --port=5000
    volumes:
      - ./web:/usr/src/app
    ports:
      - 5001:5000
    env_file:
      - ./.env.dev
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=hello_flask
      - POSTGRES_PASSWORD=hello_flask
      - POSTGRES_DB=hello_flask_dev

volumes:
  postgres_data:

