name: Docker Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create dummy env file
        run: |
          echo "SECRET_KEY=dev" > .env.prod
          echo "DATABASE_URL=sqlite:///" >> .env.prod
          echo "POSTGRES_USER=postgres" > .env.prod.db
          echo "POSTGRES_PASSWORD=postgres" >> .env.prod.db
          echo "POSTGRES_DB=postgres" >> .env.prod.db

      - name: Build containers
        run: docker-compose -f docker-compose.prod.yml build
